<html>
<!doctype html>
<html>
        <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Welcome!</title>

        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
</head>

<body style="background-color:#E68081">
<form class="pure-form pure-form-aligned" method="POST" action="/results">
<h1><center> Greetings Weary Traveller</center></h1>
<br>
<center>
<div class="pure-control-group">
  <label for="name">What did they name you?</label>
  <input type="text" name="name" size="20" value="I do not know">
</div>


<div class="pure-control-group">
  <label for="quote">What did you tell them?</label>
  <input type="text" name="quote" size="20" value="I said nothing">
</div>
<div class="pure-control-group">
  <label for="adjective">How did they describe you?</label>
  <input type="text" name="adjective" size="20" value="indescribable">
</div>
<br>
<a class="pure-button pure-button-primary" href="/results"> Wise Quotes Ahead!</a>
</center>
</form>
</body>
</html>
